.stripped_button {
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
    font-size: inherit;
    letter-spacing: inherit;
    box-sizing: border-box;
    transition: border-color 0.2s ease-in-out;
    font-weight: inherit;
    color: inherit;
    outline: none;
    cursor: pointer;
}